<section class="invoice" id="planDetail">
    <div class="row box-header with-border">
        <div class="page-header text-center">
            Plan Name
            <button type="button" id="back-button" class="btn btn-default pull-right">Back</button>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3 class="box-title">Total Paid</h3>
                <p>
                    <i class="fa fa-dollar"></i> 75,000
                </p>
            </div>
            <div class="col-md-4">
                <h3 class="box-title">Cycle Number</h3>
                <p>12</p>
            </div>
            <div class="col-md-4">
                <h3 class="box-title">Total Earned</h3>
                <p>
                    <i class="fa fa-dollar"></i> 25,000
                </p>
            </div>
        </div>
        <div>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Term#</th>
                        <th>Type</th>
                        <th>Amount</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody id="tableDetails">
                </tbody>
            </table>
            <button type="button" class="btn btn-default pull-right">More</button>
        </div>
</section>