<div class="container box box-primary" id="Planlist">
    <div class="box-header with-border">
        <h3 class="box-title">Plans</h3>
    </div>
    <div class="box-body">
        <ul class="products-list product-list-in-box" id="plans">
        </ul>
    </div>
</div>