<head>
    <title>KauriID | POC | P2P Lending</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include admin.lte.theme.head.ejs %>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="styles/style.css">    
</head>