<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <!--<div class="user-panel">-->
      <!--<div class="pull-left image">-->
        <!--<img src="/admin.lte.theme/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">-->
      <!--</div>-->
      <!--<div class="pull-left info">-->
        <!--<p class="user-name"></p>-->
      <!--</div>-->
    <!--</div>-->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <li id="plans-side">
        <a class="plans-url">
        <i class="fa fa-dollar"></i> 
          <span>Plans</span>
        </a>
      </li>
      <li id="kyc-side">
        <a class="kyc-url">
          <i class="fa fa-check-square-o"></i>
          <span>KYC</span>
        </a>
      </li>
      <li id="creditscore-side">
        <a class="creditscore-url">
          <i class="fa fa-pie-chart"></i>
          <span>CREDIT SCORE</span>
        </a>
      </li>
      <li id="register-side">
          <a class="register-url">
          <i class="fa fa-address-card"></i>
          <span>Register</span>
        </a>
      </li>
      <!--<li>
        <a class="profile-url">
          <i class="fa fa-user-secret"></i>
          <span>Profile</span>
        </a>
      </li> -->
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>