<section class="content-header">
    <h1>Dashboard</h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-3 col-xs-6">
            <div class="small-box bg-blue">
                <div class="inner">
                    <h3>50,00,000</h3>
                    <p>Total Amount Inflow</p>
                </div>
                <div class="icon">
                    <i class="fa fa-dollar"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-6">
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>5</h3>
                    <p>Active Chits</p>
                </div>
                <div class="icon">
                    <i class="fa fa-gavel"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-6">
            <div class="small-box bg-orange">
                <div class="inner">
                    <h3>20</h3>
                    <p>Total Chits</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-world"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-6">
            <div class="small-box bg-teal">
                <div class="inner">
                    <h3>500</h3>
                    <p>Total Companies</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-people"></i>
                </div>
            </div>
        </div>
    </div>
    <%- include profile.ejs %>
    <%- include table.ejs %>
</section>