<div class="box box-success">
    <div class="box-header">
        <h2 class="box-title">KYC Details</h2>
    </div>
    <div class="box-body box-profile">
        <!-- <h3 class="box-title">KYC Details</h3> -->
        <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
                <label>Company Name</label>
                <span class="pull-right kyc-name">Vishnu's Business</span>
            </li>
            <li class="list-group-item">
                <label>Company Number</label>
                <div class="pull-right">
                    <span class="kyc-number">123456</span>
                    <icon class="fa fa-external-link kyc-certicate"></icon>
                </div>
            </li>
            <li class="list-group-item">
                <label>Aadhar Number</label>
                <div class="pull-right">
                    <span class="kyc-aadhar-number">456789</span>
                    <icon class="fa fa-external-link kyc-aadhar-img"></icon>
                </div>
            </li>
            <li class="list-group-item">
                <label>PAN Number</label>
                <div class="pull-right">
                    <span class="kyc-pan-number">123456</span>
                    <icon class="fa fa-external-link kyc-pan-img"></icon>
                </div>
            </li>
        </ul>
    </div>
</div>