<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                All Chits
            </div>
            <div class="box-body table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>No. of SME</th>
                            <th>Period (In Months)</th>
                            <th>Total Investment</th>
                            <th>End date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>101</td>
                            <td>Blockchain Community</td>
                            <td>20</td>
                            <td>12</td>
                            <td>3,00,000</td>
                            <td>12/12/2017</td>
                            <td>
                                <span class="label label-warning">Going to End</span>
                            </td>
                        </tr>
                        <tr>
                            <td>102</td>
                            <td>Data Analyst Group</td>
                            <td>40</td>
                            <td>12</td>
                            <td>5,00,000</td>
                            <td>02/10/2018</td>
                            <td>
                                <span class="label label-success">Active</span>
                            </td>
                        </tr>
                        <tr>
                            <td>103</td>
                            <td>North India Business People</td>
                            <td>30</td>
                            <td>12</td>
                            <td>2,00,000</td>
                            <td>12/12/2018</td>
                            <td>
                                <span class="label label-primary">Yet to Commence</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>