
<section class="invoice">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                Know your customer
            </h2>
        </div>
    </div>
    <div class="row">
    <div class="invoice-info">
        <div style="float:left; width:50%;">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Verify using KauriID</h3>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table">
                        <tbody>
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <form role="form" id="uportForm" autocomplete="off">
                                            <div class="col-xs-7" style="margin-bottom: 10px">
                                                <label for="name" class="sr-only">Name</label>
                                                <input type="text" name="name" id="name" title="Use uPort to edit" readonly class="form-control" placeholder="Name">
                                            </div>
                                            <div class="col-xs-7" style="margin-bottom: 10px">
                                                <label for="phone" class="sr-only">Phone</label>
                                                <input type="text" name="phone" id="phone" title="Use uPort to edit" readonly class="form-control" placeholder="Mobile Number">
                                            </div>
                                            <div class="col-xs-7" style="margin-bottom: 15px" >
                                                <label for="country" class="sr-only">Country</label>
                                                <input type="text" name="country" id="country" title="Use uPort to edit" readonly class="form-control" placeholder="Country">
                                            </div>
                                        </form>
                                        <hr>
                                    </div>
                                </div> <!-- /.col-xs-12 -->
                            </div> <!-- /.row -->
                            <!--<button type="button" style="margin-bottom: 10px; margin-left: 13px" class="btn btn-info" id="uportButton" onclick="verify();uportButton()">Connect with uPort</button>-->
                        </div>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="invoice-info">
        <div style="float:right; width:48%;">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Verify Manually</h3>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td> Certificate of Incorporation</td>
                                <td class="fileROC">
                                    <input type="file" class="kyc-file" id="fileROC" />
                                </td>
                            </tr>
                            <tr>
                                <td> Passport </td>
                                <td class="fileCompanyPAN">
                                    <input type="file" class="kyc-file" id="fileCompanyPAN" />
                                </td>
                            </tr>
                            <tr>
                                <td>Driver's License
                                    <br>(International/National) </td>
                                <td class="fileIT">
                                    <input type="file" class="kyc-file" id="fileIT" />
                                </td>
                            </tr>
                            <tr>
                                <td> National ID </td>
                                <td class="fileAadhar">
                                    <input type="file" class="kyc-file" id="fileAadhar" />
                                </td>
                            </tr>
                            <tr>
                                <td> Visa </td>
                                <td class="filePromotePAN">
                                    <input type="file" class="kyc-file" id="filePromotePAN" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--<div class="col-md-6 col-xs-12">-->
            <!--<div class="box box-info">-->
                        <!--<div class="modal-dialog" role="document">-->
                            <!--<div class="modal-content">-->
                                <!--<div class="modal-body">-->
                                    <!--<pre style="word-wrap: break-word;" id="credential-container"></pre>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                <!--</div>-->
        <!--</div>-->
    </div>
    </div>

</section>

