<!DOCTYPE html>
<html lang="en">
    <%- include ../partials/head.ejs %>
    <body class="login-page">
        <%- include ../partials/loader.ejs %>
        <%- include login.ejs %>
        <%- include ../partials/scripts.ejs %>
    </body>
    <script type="text/javascript" src="javascripts/uport.js"></script>
</html>