<div class="login-box" >
    <body background="../../1.jpg">
    <div class="login-logo">
        <strong>KauriID</strong>
    </div>
    <div class="login-box-body">
        <button class="btn btn-block btn-flat" onclick="uportLogin()">Login with uPort</button>
    </div>
</div>
