<div class="login-box">
    <div class="login-logo">
        <strong>KauriID</strong>
    </div>
    <div class="login-box-body">
        <div class="login-box-msg">
            Sign in With uPort
        </div>
        <button class="btn btn-block btn-flat" onclick="uportLogin()">Connect</button>
    </div>
</div>
